<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.paddle.lite.demo.image_classification">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/duorouzhiwu"
        android:label="多肉植物图鉴"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuicklyActivity"
            android:label="快速上手"/>
        <activity android:name=".BotanyDetailsActivity"
            android:label="详情"/>
        <activity android:name=".SpeciesActivity" />
        <activity
            android:name=".CatalogActivity"
            android:label="多肉图鉴" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
    </application>

</manifest>